*{
    box-sizing: border-box;
}

body, h1, a{
    margin:0;
    padding:0;
}

html{   
    height:100%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #36e7de 0%, #1a755a 100%);
    background-attachment: fixed;
    padding:50px 0;
    height:100%;
}

.wrapper-content{
    font-family:'Quicksand', sans-serif;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 30px 30px 40px -10px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.29);
}   
.input{
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border:none;
    height: 25px;
    display:block;
    width:100%;
    padding-left:10px;
}

.input-form label {
    font-weight: 400;
    font-size: 25px;
}

.input-form{
    width:100%;
    position:relative;
}

.wrapper-temp{
    display:inline-block;
    margin-left:10px;
}

.results{
    display:flex;
    align-items: center;
}

.icon{
    margin-left:calc(50% - 74px);
}

.temp{
    display:flex;
    justify-content: flex-start;
    font-weight: 700;
}

.celsius{
    margin-left:3px;
    font-size:15px;
    font-weight: 400;
}

.status{
    margin:4px 0 0 0;
}

.time{
    margin:5px 0 0 0;
}

.wrapper-local-time{
    margin: 20px 0;
    max-width:100%;
}

.search-button{
    position:absolute;
    top:42.5px;
    right:5px;
    width:22px;
    height:22px;
    cursor: pointer;
    border:none;
    background-image: url(./assets/img/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size:15px;
}

.search-button:hover{
    transform:scale(1.08);
}

.checkbox-label{
    font-size:15px;
}

.use-location{
    width:10px;
    height:10px;
    margin:0;
}

.error{
    color:red;
    font-size:15px;
    text-align: justify;
    margin-top:15px;
    font-weight: 700;
}

.wrapper-hour{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.today{
    margin-top:50px;
    display:flex;
    justify-content: space-between;
    background-color: rgba(256,256,256, 0.1);
    border-radius: 5px;
    padding:20px 5px;
    width: 100%;
}

.wrapper-text{
    text-align: center;
}

.tempHour, .statusHour{
    margin:0;
}

.hours{
    font-size: 20px;
}

.minmax{
    text-align: center;
    font-weight: 100;
    margin:0;
}

.maxmintxt{
    text-align: center;
    margin-bottom:0;
}
