body, h1, a{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
.main-content{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: linear-gradient(180deg, #36e7de 0%, #1a755a 100%);
}
.wrapper-content{
    font-family:'Quicksand', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 30px 30px 40px -10px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.29);
    max-width: 70vw;
}   
.input{
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border:none;
    height: 25px;
    display:block;
    width:100%;
}

form label {
    font-weight: 400;
    font-size: 25px;
}

form{
    width:100%;
    position:relative;
}

.wrapper-temp{
    display:inline-block;
    margin-left:10px;
}

.results{
    display:flex;
    align-items: center;
}

.icon{
    margin-left:calc(50% - 74px);
}

.temp{
    display:flex;
    justify-content: flex-start;
    font-weight: 700;
}

.celsius{
    margin-left:3px;
    font-size:15px;
    font-weight: 400;
}

.status{
    margin:4px 0 0 0;
}

.time{
    margin:5px 0 0 0;
}

.wrapper-local-time{
    margin: 20px 0;
    width:100%;
}

.search-button{
    position:absolute;
    top:42.5px;
    right:1.5px;
    width:22px;
    height:22px;
    cursor: pointer;
    border:none;
    background-image: url(./assets/img/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border:1px solid black;
    background-color: #c4bfbf;
}

.search-button:hover{
    transform:scale(1.08);
}

.checkbox-label{
    font-size:15px;
}

.use-location{
    width:10px;
    height:10px;
    margin:0;
}
